@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.selected {
  background-color: plum;
}
body {
  display: flexbox;
  font-weight: 700;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  header {
    height: 75px;
    width: 850px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 6fr max-content max-content max-content;
    align-items: center;
    margin: 0px auto;
    h2 {
      display: inline-block;
    }
    a {
      padding: 10px 20px;
    }
    select {
      margin: 0 20px;
      padding: 10px;
      border: none;
    }
  }
  .content {
    border-top: solid silver 1px;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 2.5fr 2.1fr;
    grid-column-gap: 20px;
    .head {
      height: 75px;
      grid-area: 1/1/2/3;
      display: grid;
      grid-template-columns: 75px 400px 100px;
      justify-items: center;
      align-items: center;
      margin: 0px auto;
    }
    .sudoku {
      justify-self: flex-end;
      height: 454px;
      width: 454px;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(9, 1fr);
      border: solid black 2px;

      p {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        border: solid lightgray 1px;
      }
      .blankTile {
        font-weight: 300;
        background-color: yellow;
        cursor: pointer;
      }
      .selected {
        background-color: plum;
      }
    }
    .funcBtn {
      justify-self: flex-start;
      height: 450px;
      padding: 10px;
      border: silver solid 1px;
      display: grid;
      grid-template-rows: 1fr 1fr 2fr 3fr;
      button {
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
      .active {
        display: block;
      }
      .gameBtn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .numBtn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
